@charset "UTF-8";
.navbar {
  border-top: 3px solid #851C61;
}

[data-region="drawer"] {
  padding: 0;
  width: 280px;
  background-color: #ffffff;
  border-right: 1px solid #E8E9EC;
  padding-top: 2px;
}

[data-region="drawer"] .list-group-item {
  padding-top: 2px;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: 0px;
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

[data-region="drawer"] .list-group.m-t-1 {
  margin-top: 0px !important;
}

.btn.nav-link.bg-gray {
  background: none !important;
  color: #173D7B;
}

.btn.nav-link.bg-gray:hover {
  border: 1px solid #fff;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #4CC0AF;
  border-color: #4CC0AF;
}

footer.bg-dark {
  background: #851C61 !important;
}

body {
  background: #f8f9fa;
}

/*Button CSS*/
.btn-secondary, .btn-default {
  color: #4CC0AF;
  background-color: #fff;
  border-color: #4CC0AF;
}

.btn-secondary:hover, .btn-default:hover {
  color: #fff;
  background-color: #4CC0AF;
  border-color: #4CC0AF;
}

.btn-primary {
  color: #fff;
  background-color: #4CC0AF;
  border-color: #4CC0AF;
}

.btn-primary:hover {
  color: #4CC0AF;
  background-color: #fff;
  border-color: #4CC0AF;
}

/*Button CSS End*/
section .block_iomad_company_admin.card {
  background: transparent;
  border: 0px solid #ccc;
}

.block_mycourses.card, .block_recentlyaccessedcourses.card {
  background: transparent;
  border: 0px solid #ccc;
}

.block .empty-placeholder-image-lg {
  height: 124px;
  width: 124px;
}

div[data-region=recentlyaccessedcourses-view-content] .empty-placeholder-image-lg {
  height: 150px;
  width: 150px;
}

.text-muted {
  color: #059 !important;
  background-color: #e9faff;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}

.block_iomad_company_admin .nav.nav-tabs {
  display: block;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: left;
  border: 1px solid #dee2e6;
  background: #fff;
}

.block_iomad_company_admin .nav.nav-tabs a {
  color: #545454;
}

.block_iomad_company_admin .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #4CC0AF;
  position: relative;
}

.block_iomad_company_admin .nav-tabs .active:before {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -18px;
  content: "";
  font: normal normal normal 27px/1 FontAwesome;
  color: #4cc0af;
}

.block_iomad_company_admin .tab-content {
  display: block;
  float: left;
  width: calc(100% - 160px);
}

.block_iomad_company_admin .iomadlink_container {
  background-color: transparent;
  border: 0px solid #ddd;
  padding-top: 0 !important;
}

.block_iomad_company_admin .iomadlink_container .iomadlink {
  min-height: 63px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 96%;
  margin-right: 4%;
  margin-bottom: 10px;
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container .iomadlink {
    min-height: auto;
    padding-bottom: 10px;
  }
}

.block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon {
  display: block;
  position: relative;
  margin: 14px 0px 0px 0;
  float: left;
  padding: 0px 15px;
  width: 60px;
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon {
    float: none;
    margin: 0px auto;
    margin-top: 14px;
  }
}

.block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon .fa-topic {
  font-size: 35px;
  margin-bottom: 10px;
  color: #666;
}

.block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon .fa-action {
  border-radius: 15px;
  color: #666;
  background-color: #ffffff;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  margin-left: -12px;
  width: 22px;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.block_iomad_company_admin .iomadlink_container .iomadlink .actiondescription {
  text-align: left;
  padding-top: 18px;
  font-size: 14px;
  color: #545454;
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container .iomadlink .actiondescription {
    padding-top: 8px;
    text-align: center;
  }
}

.block_iomad_company_admin .iomadlink_container > a {
  display: block;
  float: left;
  margin: 0px;
  min-height: auto;
  width: 50%;
}

@media (max-width: 1024px) {
  .block_iomad_company_admin .iomadlink_container > a {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .block_iomad_company_admin .iomadlink_container > a {
    width: 50%;
  }
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container > a {
    width: 100%;
  }
}

.nav-tabs {
  border-bottom: 1px solid #4CC0AF;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #4CC0AF;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  color: #545454;
}

#page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 100px);
}

.loginhold {
  width: 400px;
}

.imagehold {
  width: 400px;
  padding: 20px;
}

.logincard {
  border-radius: 5px;
  border: 1px solid #F7F7F7;
  -webkit-box-shadow: 0px 2px 2px #dbdbdb;
          box-shadow: 0px 2px 2px #dbdbdb;
}

.logincard .form-group {
  position: relative;
}

.logincard .usernameicon {
  position: absolute;
  z-index: 10;
  height: 20px;
  width: 20px;
  left: 9px;
  top: 5px;
}

.logincard .form-control {
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding-left: 32px;
}

.logincard .card-header {
  padding: 2.5rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.logincard .loginbtn {
  background: #4CC0AF;
  margin-top: 60px !important;
  border-color: #4CC0AF;
}

.logincard .card-body {
  padding: 0px 1.25rem 1.25rem 1.25rem;
}

.logincard .alert-danger {
  color: #FD0000;
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 0px;
}

#region-main {
  overflow-x: inherit;
  overflow-y: inherit;
  border: 0px solid rgba(0, 0, 0, 0.125);
  padding: 0;
  background-color: transparent;
}

.dayblank,
.clickable {
  background: #fff;
}

.calendarmonth thead {
  background: #851C61;
  color: #fff;
}

.path-calendar .calendartable th {
  padding: 8px 0px;
}

.path-calendar .maincalendar .calendarmonth {
  width: 100%;
  margin: 0 auto;
}

.path-calendar .maincalendar .bottom {
  padding: 20px 0px 0px 0px;
}

.path-calendar .maincalendar .controls {
  margin: 0px auto;
  overflow: hidden;
  background: #fff;
  padding: 0px 10px;
  border: 1px solid #ebebeb;
  width: 100%;
  margin-top: 15px;
}

.path-calendar .maincalendar .calendartable td {
  padding: 10px;
}

.path-calendar .maincalendar .calendar-controls .previous, .path-calendar .maincalendar .calendar-controls .next {
  margin-top: 9px;
}

.path-calendar .maincalendar .calendar-controls .current {
  font-size: 18px;
  padding: 10px 0px 0px 0px;
}

.today {
  background: #4CC0AF;
}

a[data-action="view-event"] {
  color: #545454;
}

.block .calendar-controls .previous, .block .calendar-controls .next {
  text-align: center;
  width: 12%;
  border: 1px solid #4CC0AF;
  color: #4CC0AF;
  border-radius: 2px;
  padding: 4px;
}

.block .minicalendar {
  max-width: 100%;
}

.block .minicalendar th {
  padding: 5px 2px;
}

.block .minicalendar h3 {
  font-size: 18px;
}

.block .minicalendar thead {
  background: #E8E9EC;
  color: #250A1C;
  border-bottom: 2px solid #851C61;
}
/*# sourceMappingURL=wirehouse.css.map */