@charset "UTF-8";
.navbar {
  border-top: 3px solid #851C61;
}

[data-region="drawer"] {
  padding: 0;
  width: 280px;
  background-color: #ffffff;
  border-right: 1px solid #E8E9EC;
  padding-top: 2px;
}

[data-region="drawer"] .list-group-item {
  padding-top: 2px;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: 0px;
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

[data-region="drawer"] .list-group.m-t-1 {
  margin-top: 0px !important;
}

.btn.nav-link.bg-gray {
  background: none !important;
  color: #173D7B;
}

.btn.nav-link.bg-gray:hover {
  border: 1px solid #fff;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #4CC0AF;
  border-color: #4CC0AF;
}

footer.bg-dark {
  background: #851C61 !important;
}

body {
  background: #f8f9fa;
}

/*Button CSS*/
.btn-secondary, .btn-default {
  color: #4CC0AF;
  background-color: #fff;
  border-color: #4CC0AF;
}

.btn-secondary:hover, .btn-default:hover {
  color: #fff;
  background-color: #4CC0AF;
  border-color: #4CC0AF;
}

.btn-primary {
  color: #fff;
  background-color: #4CC0AF;
  border-color: #4CC0AF;
}

.btn-primary:hover {
  color: #4CC0AF;
  background-color: #fff;
  border-color: #4CC0AF;
}

/*Button CSS End*/
section .block_iomad_company_admin.card {
  background: transparent;
  border: 0px solid #ccc;
}

.block_mycourses.card, .block_recentlyaccessedcourses.card {
  background: transparent;
  border: 0px solid #ccc;
}

.block .empty-placeholder-image-lg {
  height: 124px;
  width: 124px;
}

div[data-region=recentlyaccessedcourses-view-content] .empty-placeholder-image-lg {
  height: 150px;
  width: 150px;
}

.text-muted {
  color: #059 !important;
  background-color: #e9faff;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}

.block_iomad_company_admin .nav.nav-tabs {
  display: block;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: left;
  border: 1px solid #dee2e6;
  background: #fff;
}

.block_iomad_company_admin .nav.nav-tabs a {
  color: #545454;
}

.block_iomad_company_admin .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #4CC0AF;
  position: relative;
}

.block_iomad_company_admin .nav-tabs .active:before {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -18px;
  content: "";
  font: normal normal normal 27px/1 FontAwesome;
  color: #4cc0af;
}

.block_iomad_company_admin .tab-content {
  display: block;
  float: left;
  width: calc(100% - 160px);
}

.block_iomad_company_admin .iomadlink_container {
  background-color: transparent;
  border: 0px solid #ddd;
  padding-top: 0 !important;
}

.block_iomad_company_admin .iomadlink_container .iomadlink {
  min-height: 63px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 96%;
  margin-right: 4%;
  margin-bottom: 10px;
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container .iomadlink {
    min-height: auto;
    padding-bottom: 10px;
  }
}

.block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon {
  display: block;
  position: relative;
  margin: 14px 0px 0px 0;
  float: left;
  padding: 0px 15px;
  width: 60px;
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon {
    float: none;
    margin: 0px auto;
    margin-top: 14px;
  }
}

.block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon .fa-topic {
  font-size: 35px;
  margin-bottom: 10px;
  color: #666;
}

.block_iomad_company_admin .iomadlink_container .iomadlink .iomadicon .fa-action {
  border-radius: 15px;
  color: #666;
  background-color: #ffffff;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  margin-left: -12px;
  width: 22px;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.block_iomad_company_admin .iomadlink_container .iomadlink .actiondescription {
  text-align: left;
  padding-top: 18px;
  font-size: 14px;
  color: #545454;
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container .iomadlink .actiondescription {
    padding-top: 8px;
    text-align: center;
  }
}

.block_iomad_company_admin .iomadlink_container > a {
  display: block;
  float: left;
  margin: 0px;
  min-height: auto;
  width: 50%;
}

@media (max-width: 1024px) {
  .block_iomad_company_admin .iomadlink_container > a {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .block_iomad_company_admin .iomadlink_container > a {
    width: 50%;
  }
}

@media (max-width: 626px) {
  .block_iomad_company_admin .iomadlink_container > a {
    width: 100%;
  }
}

.nav-tabs {
  border-bottom: 1px solid #4CC0AF;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #4CC0AF;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  color: #545454;
}

#page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 100px);
}

.loginhold {
  width: 400px;
}

.imagehold {
  width: 400px;
  padding: 20px;
}

.logincard {
  border-radius: 5px;
  border: 1px solid #F7F7F7;
  -webkit-box-shadow: 0px 2px 2px #dbdbdb;
          box-shadow: 0px 2px 2px #dbdbdb;
}

.logincard .form-group {
  position: relative;
}

.logincard .usernameicon {
  position: absolute;
  z-index: 10;
  height: 20px;
  width: 20px;
  left: 9px;
  top: 5px;
}

.logincard .form-control {
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding-left: 32px;
}

.logincard .card-header {
  padding: 2.5rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.logincard .loginbtn {
  background: #4CC0AF;
  margin-top: 60px !important;
  border-color: #4CC0AF;
}

.logincard .card-body {
  padding: 0px 1.25rem 1.25rem 1.25rem;
}

.logincard .alert-danger {
  color: #FD0000;
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 0px;
}

#region-main {
  overflow-x: inherit;
  overflow-y: inherit;
  border: 0px solid rgba(0, 0, 0, 0.125);
  padding: 0;
  background-color: transparent;
}

.dayblank,
.clickable {
  background: #fff;
}

.calendarmonth thead {
  background: #851C61;
  color: #fff;
}

.path-calendar .calendartable th {
  padding: 8px 0px;
}

.path-calendar .maincalendar .calendarmonth {
  width: 100%;
  margin: 0 auto;
}

.path-calendar .maincalendar .bottom {
  padding: 20px 0px 0px 0px;
}

.path-calendar .maincalendar .controls {
  margin: 0px auto;
  overflow: hidden;
  background: #fff;
  padding: 0px 10px;
  border: 1px solid #ebebeb;
  width: 100%;
  margin-top: 15px;
}

.path-calendar .maincalendar .calendartable td {
  padding: 10px;
}

.path-calendar .maincalendar .calendar-controls .previous, .path-calendar .maincalendar .calendar-controls .next {
  margin-top: 9px;
}

.path-calendar .maincalendar .calendar-controls .current {
  font-size: 18px;
  padding: 10px 0px 0px 0px;
}

.today {
  background: #4CC0AF;
}

a[data-action="view-event"] {
  color: #545454;
}

.block .calendar-controls .previous, .block .calendar-controls .next {
  text-align: center;
  width: 12%;
  border: 1px solid #4CC0AF;
  color: #4CC0AF;
  border-radius: 2px;
  padding: 4px;
}

.block .minicalendar {
  max-width: 100%;
}

.block .minicalendar th {
  padding: 5px 2px;
}

.block .minicalendar h3 {
  font-size: 18px;
}

.block .minicalendar thead {
  background: #E8E9EC;
  color: #250A1C;
  border-bottom: 2px solid #851C61;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  font-family: "Museo Sans Rounded 300";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bar {
  background: #fff;
  height: 50px;
}

.section-title {
  font-size: 18px;
  padding: 15px 0px 15px 27px;
  margin: 0px;
}

.responsive {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.event-bg {
  background: #fff;
  width: 95%;
  padding: 20px 20px 20px 40px;
}

.event-bg .slick-next {
  right: 0px;
  left: inherit;
}

.event-bg .slick-prev {
  right: 34px;
  left: inherit;
}

.event-bg .name {
  font-weight: 700;
}

.event-bg .time {
  font-size: 14px;
  color: #7A7A7A;
  padding-bottom: 5px;
}

.event-bg .event-img {
  padding: 10px 0px;
}

.event-bg .event-img img {
  width: 100%;
}

.responsive-hold {
  width: 100%;
  overflow: hidden;
  padding: 50px 15px 0px 15px;
}

.coursehold {
  padding-right: 20px;
  position: relative;
}

.coursehold .statusebar {
  position: absolute;
  background: #707070;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.coursehold .statusebar .bar {
  background: red;
  height: 8px;
}

.coursehold .progress {
  background: #707070 !important;
  height: 8px;
  border: 0px solid #707070 !important;
  border-radius: 0px;
}

.coursehold .newcourse {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 20px;
  top: -28px;
}

.coursehold img:first-child {
  display: block;
  width: 100%;
}

.courecontent {
  background: #FFFFFF;
  padding: 20px;
  color: #545454;
  position: relative;
}

.courecontent .price {
  width: 51px;
  height: 51px;
  background: #851C61;
  position: absolute;
  top: -31px;
  right: 29px;
  border-radius: 80px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 51px;
}

.courecontent .name {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.courecontent .dec {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 10px;
}

.courecontent .add-cart-action {
  padding-top: 20px;
}

.slick-next,
.slick-prev {
  border: 1px solid #44C0B0;
  border-radius: 2px;
  top: -21px;
  z-index: 100;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.slick-next {
  right: 18px;
  left: inherit;
}

.slick-prev {
  right: 52px;
  left: inherit;
}

.slick-next:before,
.slick-prev:before {
  line-height: inherit;
  font-family: FontAwesome;
  font-size: 20px;
  color: #4CC0AF;
  display: inline-block;
}

.slick-next:before {
  content: '';
}

.slick-prev:before {
  content: '';
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #44C0B0;
  padding-top: 3px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
}

.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #979696;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.carthold {
  float: right;
  position: relative;
  padding: 15px;
}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.shopping-cart {
  margin: 20px 0;
  position: absolute;
  background: #f3f3f3;
  width: 614px;
  border-radius: 3px;
  padding: 1px;
  right: 0px;
  top: 21px;
  z-index: 1000;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0px 2px #ccc;
          box-shadow: 0px 2px #ccc;
  display: none;
  /* -webkit-transition: width 0.3; 
  -webkit-transition-timing-function: linear;
  transition: width 0.3s;
  transition-timing-function: linear;*/
}

@media (max-width: 626px) {
  .shopping-cart {
    width: 375px;
  }
}

.shopping-cart:after {
  bottom: 100%;
  left: 97%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #f3f3f3;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shopping-cart-hold {
  background: #fff;
  padding: 15px 0px 15px 15px;
}

.shopping-cart-hold .divhold {
  padding-right: 8px;
  margin-top: 15px;
}

.shopping-cart-hold .viewcart-btn {
  border: 1px solid #4CC0AF;
  color: #4CC0AF;
  background: #fff;
}

.shopping-cart-hold .buynow-btn {
  border: 1px solid #4CC0AF;
  color: #ffff;
  background: #4CC0AF;
}

.shopping-cart-hold .viewcart-btn,
.shopping-cart-hold .buynow-btn {
  width: 49%;
  padding: 10px 0px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

.shopping-cart-hold .final-total {
  background: #e9e7e7;
  overflow: hidden;
  margin-right: 15px;
}

.shopping-cart-hold .final-total .text {
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 30px 10px 10px;
  float: left;
  text-align: right;
}

@media (max-width: 626px) {
  .shopping-cart-hold .final-total .text {
    width: 72%;
  }
}

.shopping-cart-hold .final-total .number {
  width: 20%;
  float: left;
  font-weight: 700;
  padding: 10px 25px 10px 10px;
  font-size: 24px;
  text-align: right;
}

.shopping-cart-table {
  color: #545454;
  display: block;
  empty-cells: show;
}

.shopping-cart-table .course-name {
  font-size: 14px;
  font-weight: 700;
}

.shopping-cart-table .course-dec {
  font-size: 13px;
  padding-top: 5px;
  overflow: hidden;
  height: 50px;
}

@media (max-width: 626px) {
  .shopping-cart-table .course-dec {
    display: none;
  }
}

.shopping-cart-table .price-textbox {
  width: 50%;
  height: 43px;
  border: 1px solid #aaaaaa;
  text-align: center;
  border-radius: 2px;
  float: left;
}

@media (max-width: 626px) {
  .shopping-cart-table .price-textbox {
    width: 100%;
  }
}

.shopping-cart-table .price {
  width: 51px;
  height: 51px;
  background: #851C61;
  border-radius: 80px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 51px;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 4px 2px #a3a3a3;
  box-shadow: 1px 1px 4px 2px #a3a3a3;
}

.shopping-cart-table .remove-cart {
  color: #000;
  font-size: 24px;
  display: block;
  float: left;
  padding: 8px 0px 0px 15px;
  cursor: pointer;
}

@media (max-width: 626px) {
  .shopping-cart-table .remove-cart {
    padding: 8px 0px 0px 20px;
  }
}

.shopping-cart-table .total {
  font-weight: 700;
  text-align: right;
  margin-top: 15px;
}

.shopping-cart-table tbody {
  /* Position */
  display: block;
  position: relative;
  width: 100%;
  /* Decoration */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 300px;
}

.shopping-cart-table thead {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 20px;
}

.shopping-cart-table tr {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-cart-table th {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px 15px 0px;
  display: block;
  float: left;
}

.shopping-cart-table td {
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 10px;
  display: block;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.shopping-cart-table th:nth-child(1),
.shopping-cart-table td:nth-child(1) {
  width: 45%;
}

.shopping-cart-table th:nth-child(2),
.shopping-cart-table td:nth-child(2) {
  width: 20%;
}

.shopping-cart-table th:nth-child(3),
.shopping-cart-table td:nth-child(3) {
  width: 15%;
  text-align: center;
}

.shopping-cart-table th:nth-child(4),
.shopping-cart-table td:nth-child(4) {
  width: 20%;
  text-align: right;
}

.shopping-cart-table td:nth-child(3) {
  text-align: center;
}

.shopping-cart-table td:nth-child(4) {
  text-align: right;
  padding-right: 0;
}

.shopping-cart-table .mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  height: 100%;
  margin: 0 auto;
  border-radius: 16px;
}

.shopping-cart-table .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  width: 8px;
}

.shopping-cart-table div.myautoscroll {
  height: 40ex;
  width: 40em;
  overflow: hidden;
  border: 1px solid #444;
  margin: 3em;
}

.shopping-cart-table div.myautoscroll:hover {
  overflow: auto;
}

.shopping-cart-table div.myautoscroll p {
  padding-right: 16px;
}

.shopping-cart-table div.myautoscroll:hover p {
  padding-right: 0px;
}

.shopping-cart-table .mCSB_inside > .mCSB_container {
  margin-right: 25px;
}

.shopping-cart-all {
  padding: 20px;
}

.shopping-cart-all tbody {
  height: auto;
}

.shopping-cart-all thead {
  padding-right: 0;
}

.shopping-cart-all .final-total {
  margin-right: 0px;
}

.shopping-cart-all .divhold {
  padding-right: 0px;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.shopping-cart-all .viewcart-btn {
  width: 100%;
}

.shopping-cart-all .buynow-btn {
  width: 100%;
}

.shopping-cart-all .btnhold {
  width: 50%;
  padding: 15px;
  float: left;
}

.all-courses {
  padding: 15px;
}

.all-courses .coursehold {
  padding-right: 0;
  position: relative;
  margin-bottom: 30px;
}
/*# sourceMappingURL=wirehouse.css.map */