.dayblank,
.clickable {
  background: #fff;
}

.calendarmonth {
  thead {
    background: $wirehouse-purple;
    color: #fff;
  }
}

.path-calendar {
  .calendartable {
    th {
      padding: 8px 0px;
    }
  }
}

.path-calendar {
  .maincalendar {
    .calendarmonth {
      width: 100%;
      margin: 0 auto;
    }

    .bottom {
      padding: 20px 0px 0px 0px;
    }
    .controls {
      margin: 0px auto;
      overflow: hidden;
      background: #fff;
      padding: 0px 10px;
      border: 1px solid #ebebeb;
      width: 100%;
      margin-top: 15px;
    }

    .calendartable {
      td {
        padding: 10px;
      }
    }
    .calendar-controls {
      .arrow {
        font-family: "FontAwesome";
      }
      .previous,
      .next {
        margin-top: 9px;
      }

      .current {
        font-size: 18px;
        padding: 10px 0px 0px 0px;
      }
    }

    .calendar_event_site{ background:#fff; padding:0px 15px;}

  }
}

.today {
  background: $wirehouse-green;
}

a[data-action="view-event"] {
  color: #fff;
}

.block {
  .calendar-controls {
    .previous,
    .next {
      text-align: center;
      width: 12%;
      border: 1px solid $wirehouse-green;
      color: $wirehouse-green;
      border-radius: 2px;
      padding: 4px;
    }
  }

  .minicalendar {
    .arrow {
      font-family: "FontAwesome";
    }

    max-width: 100%;

    th {
      padding: 5px 2px;
    }
    td {
      padding: 5px 2px;

      a {color:#000;}
    }

    h3 {
      font-size: 18px;
    }

    thead {
      background: #e8e9ec;
      color: #250a1c;
      border-bottom: 2px solid $wirehouse-purple;
    }
  }
}

.eventlist {
  .card {
    background: #fff;
  }

  .card-header {
    background: #fff;
  }

  .calendar_event_user {
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
  }

  .atto_image_button_text-bottom.img-responsive {
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
  }
  .name{ font-size: 18px;}

  .event {
    margin-bottom: 15px;
  }
  span.date {
    display: block;
  }

  span.date:before {
    
    content: "";
    font-family: "FontAwesome";
    color:$wirehouse-black;
    padding-right: 10px;
  }

  .commands {
    text-align: right;
  }
  .icon {
    color: $wirehouse-black;
  }
}
