h2 {
  font-size: 18px;
}

.dep_tree {
  padding: 10px;
  background-color: $headingcolor;
  border: 1px solid $headingcolor;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 5px;

  .tree_item {
    padding-left: 0px;
  }
}

.mform {
  fieldset {
    margin-left: 0;
    background: #fff;
    position: relative;
    border: 1px solid #e8e9ec;
  }

  fieldset.collapsed {
    margin-bottom: 60px;
  }

  fieldset.collapsible {
    legend {
      a.fheader {
        padding: 0 5px 0 1.5rem;
        margin-left: 0;
      }
    }
  }

  .form-control {
    border-radius: 4px;
  }
  .custom-select {
    border-radius: 4px;
  }
}

legend.ftoggler {
  position: absolute;
  top: 0px;
  padding: 10px 20px;
  background: #fff;
}

.collapsed {
  legend.ftoggler {
    border: 1px solid #e8e9ec;
  }
}

.fcontainer {
  padding: 57px 20px;
}

a.fheader {
  color: #373a3c;
  text-decoration: none;
  font-size: 16px;
}

.femptylabel {
  margin-top: 20px;
}

#page-blocks-iomad_company_admin-editusers {
  #mform1 {
    display: block;
  }
}

.generalbox {
  .header {
    background: $headingcolor;
    border: 1px solid $headingcolor-border;
  }

  th {
    color: #fff;

    a {
      color: #fff;
    }

    .text-info {
      color: #fff !important;
    }
  }

  tbody {
    tr:nth-child(even) {
      background: #ececec !important;
    }

    tr:nth-child(odd) {
      background: #fff !important;
    }
  }
}

.generaltable {
  .header {
    background: $headingcolor;
    border: 1px solid $headingcolor-border;
  }

  th {
    color: #fff;

    a {
      color: #fff;
    }
  }

  tbody {
    tr:nth-child(even) {
      background: #ececec !important;
    }

    tr:nth-child(odd) {
      background: #fff !important;
    }
  }
}

#page-blocks-iomad_company_admin-iomad_courses_form {
  .reporttablecontrolscontrol {
    #id_searchbutton {
      color: #fff;
      background-color: $wirehouse-green;
      border-color: $wirehouse-green;
      padding-right: 10px;
      padding-left: 10px;
    }

    #id_searchbutton:hover {
      color: $wirehouse-green;
      background-color: #fff;
      border-color: $wirehouse-green;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.cell {
  .custom-select {
    border-radius: 4px;
  }

  input[type="text"] {
    height: 35px;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
  }

  input[type="submit"] {
    color: $wirehouse-green;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 8px;
    border: 1px solid $wirehouse-green;
  }
}

.courseselector {
  select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
  }

  input[type="text"] {
    height: 35px;
    margin-right: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
  }

  input[type="button"] {
    color: $wirehouse-green;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 8px;
    border: 1px solid $wirehouse-green;
    cursor: pointer;
  }
}

table.companycoursetable {
  margin-top: 10px;
}

.singleselect {
  margin-right: 10px;
}

.custom-select {
  border-radius: 4px;
}

/*course subscription css*/

.course_subscription {
  .form-control {
    border-radius: 4px;
  }

  .custom-select {
    width: 100%;
  }
  .pricehold {
    margin-top: 10px;
  }
}

.primaryTitle {
  font-size: 18px;
  margin-top: 15px;
}

.gridStyle {
  .dataTables_length {
    select {
      border: 1px solid #ced4da;
      color: #495057;
      border-radius: 4px;
      padding: 10px;
    }
  }

  .dataTables_filter {
    input {
      border: 1px solid #ced4da;
      border-radius: 4px;
      padding: 8px;
    }
  }

  thead {
    background: $headingcolor;
    color: #fff;
  }

  table.dataTable {
    tbody {
      tr.odd {
        background: #ececec;
      }
      tr.even {
        background: #fff;
      }

      td {
        .delete_button {
          color: #000;
          margin: 0px 15px 0px 0px;
          cursor: pointer;
        }

        .edit_button {
          margin: 0px 15px 0px 0px;
          a {
            color: #000;
          }
        }
      }
    }

    thead {
      th {
        padding: 10px 10px;
        border-bottom: 1px solid $headingcolor;
      }
    }
  }

  table.dataTable.no-footer {
    border-bottom: 1px solid $headingcolor;
  }

  .dataTables_wrapper {
    .dataTables_paginate {
      .paginate_button {
        color: #fff !important;
        background: $wirehouse-green !important;
        border-color: $wirehouse-green !important;
        opacity: 0.5;
      }

      .paginate_button.current {
        opacity: 0.5;
        cursor: pointer;
      }
      .paginate_button.disabled {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparentv !important;
        background: transparent !important;
        box-shadow: none;
      }

      .paginate_button.next {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent !important;
        background: transparent;
        box-shadow: none;
      }

      .paginate_button.previous {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent !important;
        background: transparent;
        box-shadow: none;
      }
    }
  }
}

.moodle-dialogue-base {
  .moodle-dialogue {
    .moodle-dialogue-bd {
      overflow: hidden;
      overflow-y: scroll;
      height: calc(100vh - 72px);
    }
  }
}

.company-selection-hold {
  border: 1px solid #dee2e6;
  background: #fff;
  padding: 10px;
  .singlebutton {
    display: none;
  }
  #fitem_id_company {
    margin-bottom: 0px;
  }
  .tag {
    line-height: inherit;
    margin-bottom: 0px !important;
    background: #fff;
    color: #000;
    padding: 4px 0px;
  }
  .col-form-label {
    float: left;
    padding: 11px 0;
    @media (max-width:$breakpoint-tablet768) {
      padding: 11px 0 0 0;
    }
  }
  .form-autocomplete-selection {
    margin: 5px 0px;
    min-height: auto;
    @media (max-width:$breakpoint-tablet768) {
      margin:0;
    }
  }
}
