#page-login-index{
  #page-wrapper {
    height: calc(100% - 57px);
    @media (max-width: $breakpoint-tablet626) {
      background:#fff ;
    }
  }

  .logininfo{ color:#fff; text-align:center ;}
    
  .container{margin-bottom:0px; }

}

#page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 69px);
}

.loginhold {
  width: 400px;
}

.imagehold {
  width: 400px;
  padding: 20px;
  @media (max-width: $breakpoint-tablet768) {
    display: none;
  }
}

.logincard {
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 2px 2px #dbdbdb;

  @media (max-width: $breakpoint-tablet626) {
    border: 0px solid #f7f7f7;
    box-shadow:none;
  }

  .form-group {
    position: relative;
  }

  .usernameicon {
    position: absolute;
    z-index: 10;
    height: 20px;
    width: 20px;
    left: 9px;
    top: 5px;
    
    img{
      width:14px;
    }
  }

  .form-control {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding-left: 32px;
  }

  .card-header {
    padding: 2.5rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0px solid rgba(0, 0, 0, 0.125);
  }

  .loginbtn {
    color: #fff;
    background: $wirehouse-green;
    margin-top: 60px !important;
    border-color: $wirehouse-green;
  }

  .loginbtn:hover {
    color: #fff;
    background: $wirehouse-green;
    border-color: $wirehouse-green;
  }

  .card-body {
    padding: 0px 1.25rem 1.25rem 1.25rem;
  }

  .alert-danger {
    color: #fd0000;
    background-color: #fff;
    border-color: #fff;
    margin-bottom: 0px;
    text-align: center;
  }

  .rememberpass{ 
    
    @media (max-width: $breakpoint-tablet626) {
      margin-top:20px; 
    }
    
    }


}


