$wirehouse-green: #4CC0AF;
$wirehouse-purple:#851C61;
$wirehouse-blue:#2B3682;
$wirehouse-black:#545454;
$bodybgcolor:#f8f9fa;
$headingcolor:#7981b2;
$headingcolor-border:#6e76a1;

$font300:'Museo Sans Rounded 300';
$font500:'Museo Sans Rounded 500';
$font700:'Museo Sans Rounded 700';
$FontAwesome:'FontAwesome';
$normalfonts:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


$breakpoint-tablet1024: 1024px;
$breakpoint-tablet768: 768px;
$breakpoint-tablet626: 626px;