html,
body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: $normalfonts;
}

* {
  box-sizing: border-box;
}

.bar {
  background: #fff;
  height: 50px;
}

.section-title {
  font-size: 18px;
  padding: 15px 0px 15px 27px;
  margin: 0px;
}


#mycourses_inprogress_view {
  .responsive {
    margin-top: 48px;
  }
}


#mycourses_available_view {
  .responsive {
    margin-top: 48px;
  }
}

#mycourses_completed_view{
  .responsive {
    margin-top: 48px;
  }
}

.responsive {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;

  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }
}

.event-bg {
  background: #fff;
  width: 95%;
  padding: 20px 20px 20px 40px;

  .slick-next {
    right: 0px;
    left: inherit;
  }

  .slick-prev {
    right: 34px;
    left: inherit;
  }


  .name {
    font-weight: 700;
  }

  .time {
    font-size: 14px;
    color: #7a7a7a;
    padding-bottom: 5px;
  }
  .event-img {
    padding: 10px 0px;
    img {
      width: 100%;
    }
  }
}

.responsive-hold {
  width: 100%;
  overflow: hidden;
  padding: 50px 15px 0px 15px;
}

.coursehold {
  padding-right: 20px;
  position: relative;

  h4.title {
    margin: 15px 0px 0px 0px;
    a {
      color: $wirehouse-black;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .statusebar {
    position: absolute;
    background: #707070;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;

    .bar {
      background: red;
      height: 8px;
    }
  }

  .progress {
    background: #707070 !important;
    height: 8px;
    border: 0px solid #707070 !important;
    border-radius: 0px;
  }

  .newcourse {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 20px;
    top: -28px;
  }

  img:first-child {
    display: block;
    width: 100%;
  }
}

.courecontent {
  background: #ffffff;
  padding: 20px;
  color: #545454;
  position: relative;

  .price {
    // width: 51px;
    // height: 51px;
    background: #851c61;
    position: absolute;
    top: -26px;
    right: 29px;
    border-radius: 100px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    // line-height: 51px;
    padding: 11px 20px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1);
    box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1);
  }

  .name {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
  }

  .dec {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .add-cart-action {
    padding-top: 20px;
  }
}

.slick-next,
.slick-prev {
  border: 1px solid #44c0b0;
  border-radius: 2px;
  top: -21px;
  z-index: 100;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.slick-next {
  right: 18px;
  left: inherit;
}

.slick-prev {
  right: 52px;
  left: inherit;
}

.slick-next:before,
.slick-prev:before {
  line-height: inherit;

  font-family: FontAwesome;
  font-size: 20px;
  color: #4cc0af;
  display: inline-block;
}

.slick-next:before {
  content: "";
}

.slick-prev:before {
  content: "";
}

label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #44c0b0;
  padding-top: 3px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
label.container:hover input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label.container {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px solid #ccc;
  }

  .checkmark:after {
    left: 8px;
    top: 3px;
    /*width: 5px;
            height: 10px;*/
    top: 3px;
    width: 8px;
    height: 13px;
    border: solid #979696;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.iomadlogonone {
  display: none;
}

.form-autocomplete-selection {
  margin: 0.25rem;
  min-height: 2.375rem;
  display: inline-block;
  width: auto !important;
}

#fitem_id_company {
  margin-left: 0px;
}


.coursebox {
  &.odd {
    background:#fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e8e9ec;
  }
  
  &.even {
    background:#fff !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e8e9ec;
  }

  .content {
    .courseimage {
      img{
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.region_main_settings_menu_proxy{
  height: 3rem;
}


.subcategories {
  .category {
    padding: 10px;
    background: #fff;
    margin: 10px 0px;
    border: 1px solid #e8e9ec;
  }
}

.course-content {
  ul.topics{   
     background: #fff;
    border: 1px solid #e8e9ec;}
}

.path-course-view {
 .completionprogress {
  margin-top: 15px;
  margin-right: 15px;
}
}


#badge{
  background: #fff;
  border: 1px solid #e8e9ec;
  padding: 15px;

}



#issued-badge-table{ 
  
  .activatebadge {
  display: inline-block;
  margin-right: 10px;
}

ul.badges{ 
  background: #fff;
  border: 1px solid #e8e9ec;
  padding: 15px;
  margin-bottom: 15px;
}

.col-form-label { 
  padding: 10px 0px;
  display: inline-block !important;
}

}


#scorm_toc_toggle_btn, #nav_skipprev, #nav_prev, #nav_up, #nav_next, #nav_skipnext{
  border: 1px solid $wirehouse-green;
  color:$wirehouse-green;
  padding:5px 10px;
  font-family:$normalfonts;
  font-size: 20px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
}


.yui3-skin-sam .yui3-treeview-selected>.yui3-treeview-row {
  background-color: #fff;
  border-color: #cccccc;
  padding: 10px;
}

.yui3-skin-sam .yui3-treeview-selected>.yui3-treeview-row:hover {
  background-color: #fff;
  border-color: #cccccc;
  padding: 10px;
}



.coursebox>.info>.coursename a {
  background-position: left 9px;
}


#page-mod-scorm-player {

  .activity-navigation{ position:relative; top:10px}

  #scormpage #scorm_content {
    height: 94%;

    @media (max-width:$breakpoint-tablet768) {
      height:99%;
    }
  }

 
  #prev-activity-link{
    font-family:$normalfonts;
    color:$wirehouse-green;
    text-decoration:none;
  }
  
}