{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mycourses/available-view

    This template renders the available view for the myoverview block.

    Example context (json):
    {}
}}
<div id="recommended-view-{{uniqid}}" data-region=#recommended-view">
   
        <div class="tab-content">
            <div class="tab-pane active fade in" id="mycourses_recommended_view">
				<div class="responsive">

				{{#recommendview.recommendedcourses}}

					
							<div class="coursehold">
								<div class="courseimage">
								{{{ image }}}
								</div>
								<div class="courecontent">
									<div class="name">{{ fullname }}</div>
									<div class="dec ">{{ summary}}</div>
									<div class="price">${{price}}</div>
									<div class="add-cart-action">
										 <label class="container" >Add to cart
										  <input type="checkbox" name="course_{{id}}" id="course_{{id}}" {{checked}} onclick="getcarturl('{{ carturl }}','course_{{id}}')">
										  <span class="checkmark" ></span> </label>
																		
										
									</div>
								</div>
							</div>
						
				{{/recommendview.recommendedcourses}}

				</div>
					
				
	

			<script type="text/javascript">
			    function getcarturl(url,chk)
				{
					console.log($('#'+chk).is(":checked"));
					 if($('#'+chk).is(":checked"))
					 {
							url = url+"&remove=0";
							console.log(url);
							$.get(url.replace('&amp;','&'), function(data, status){
								 alert("Course is added");
							});
					 }
					 else
					 {
						url = url+"&remove=1";
						console.log(url);
						$.get(url.replace('&amp;','&'), function(data, status){
								 alert("Course is removed");
							});
					 }
					 
				}
				
				
				(function ($) {


				/*$(window).on("load", function () {
				$(".content, .content1").mCustomScrollbar(
				  {

					scrollInertia: 0,
				  }


				);
				});*/

				})(jQuery);


				$(window).resize(function () {

				$('.course-dec').ellipsis({ responsive: true });

				});
				


				</script>
			</div>
		</div>
</div>
{{#js}}
require(['jquery', 'core/custom_interaction_events','core/modal_factory',"{{recommended.wwwroot}}/blocks/mycourses/slick/slick.js"], function($, customEvents,ModalFactory,slick) {
    var root = $('#all-view-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });
	
	$(".viewcart").click(function(event){
	event.preventDefault();
		console.log($(this).attr('href'));
       
		$.get($(this).attr('href'), function(data, status){
			var trigger = $('#myModal');
			console.log(data);
			
			  ModalFactory.create({
				
				title: 'View Cart',
				body: data,
				large : 1,
			  }, trigger)
			  .done(function(modal) {
				modal.show();
			  });
		
    });
	});
	$('.responsive').slick({
				dots: false,
				infinite: true,
				speed: 300,
				slidesToShow: 3,
				slidesToScroll: 3,
				responsive: [
				  {
					breakpoint: 1024,
					settings: {
					  slidesToShow: 3,
					  slidesToScroll: 3,
					  infinite: true,
					  dots: true
					}
				  }
				  // You can unslick at a given breakpoint now by adding:
				  // settings: "unslick"
				  // instead of a settings object
				]
				});

				$("#cart").on("click", function () {
				$(".shopping-cart").fadeToggle("fast");
				$('.course-dec').ellipsis({ responsive: true });
				});
});

				
				
				
{{/js}}