{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mycourses/available-view

    This template renders the available view for the myoverview block.

    Example context (json):
    {}
}}
<div id="recommended">Recommended Courses</div>
<div id="recommended-view-{{uniqid}}" data-region=#recommended-view">
   
        <div class="tab-content">
            <div class="tab-pane active fade in" id="mycourses_recommended_view">
				<div class="responsive">

				{{#recommendview.recommendedcourses}}

					
							<div class="coursehold">
								<div class="courseimage">
								<img class="imgresponsive" src="{{ image }}">
								</div>
								<div class="courecontent">
									<div class="name">{{ fullname }}</div>
									<div class="dec ">{{ summary}}</div>
								</div>
							</div>
						
				{{/recommendview.recommendedcourses}}

				</div>
			
			</div>
		</div>
</div>
{{#js}}
require(['jquery', 'core/custom_interaction_events',"{{recommendview.wwwroot}}/blocks/mycourses/slick/slick.js"], function($, customEvents,slick) {
    var root = $('#all-view-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });


});

				
				
				
{{/js}}