{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mycourses/available-view

    This template renders the available view for the myoverview block.

    Example context (json):
    {}
}}

<div id="viewallcourses-{{uniqid}}" data-region=#viewallcourses">
<div class="all-courses">
    <div class=" row">
					{{#courses}}
						<div class="col-xl-3  col-lg-4 col-md-6">
									<div class="coursehold" >
										
										
										<div class="courseimage">
										{{^price}}
									    <a href="{{ url }}"> 
										{{/price}}
										<img class="imgresponsive" src="{{ image }}" >
										{{^price}}
										</a>										
										{{/price}}
										
										</div>
										
								        <div class="ml-auto mt-auto">
										{{#hasprogress}}
										{{> block_mycourses/progress-bar}}
										{{/hasprogress}}
										</div>
										
										<div class="courecontent">
									
										<div class="name">	
										{{^price}}<a href="{{ url }}">{{/price}}
										{{ fullname }}
										{{^price}}</a>{{/price}}
										
										</div>
										
										<div class="dec ">{{ summary}}</div>
											
											{{#price}}
											<div class="price">${{price}}</div>
											
											<div class="add-cart-action">
												 <label class="container" >Add to cart
												  <input type="checkbox" class="courselisting" name="course_{{id}}" id="course_{{id}}" {{checked}} onclick="getcarturl('{{ carturl }}','course_{{id}}')">
												  <span class="checkmark" ></span> </label>
											</div>
											{{/price}}
										</div>
									</div>
							</div>		
						{{/courses}}
</div></div></div>
{{#js}}
require(['jquery', 'core/custom_interaction_events','core/modal_factory'], function($, customEvents,ModalFactory) {
    var root = $('#view_all-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });
	
 });
	

				
{{/js}}
<style>
.card {
display:none !important;
}
</style>
<script type="text/javascript">
			    function getcarturl(url,chk)
				{
					console.log($('#'+chk).is(":checked"));
					 if($('#'+chk).is(":checked"))
					 {
							url = url+"&remove=0";
							console.log(url);
							$.get(url.replace('&amp;','&'), function(data, status){
								 
							});
					 }
					 else
					 {
						url = url+"&remove=1";
						console.log(url);
						$.get(url.replace('&amp;','&'), function(data, status){
								
							});
					 }
					 //$("#çart_count").html($(".courselisting").filter(':checked').length);
					if($(".courselisting").filter(':checked').length >0 ){
					$("#çart_count").css("display","block");
					}else{
					$("#çart_count").css("display","none");
					}
					 
				}
</script>